{% extends 'base.html.twig' %}

{% block body %}
<h1>Update Person</h1>

<ul class="list-inline">
    <li>
        <a href="{{ path('person_index') }}">List of People</a>
    </li>
    <li>
        {{ form_start(delete_form) }}
        <input class="btn btn-link" type="submit" value="Delete Person"
               onclick="return confirm('Are you sure you want to delete this person?')">
        {{ form_end(delete_form) }}
    </li>
</ul>

{{ form_start(edit_form) }}
{{ form_widget(edit_form) }}
<input class="btn btn-primary" type="submit" value="Update Person" />
{{ form_end(edit_form) }}
{% endblock %}
